body {
    background-image: url(grey.jpg);
    margin: 0;
    padding: 0 30px;
  }
  
  h1 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size:xx-large;
    font-weight: bolder;
    font-weight: 300;
  }
  
  h2{
      position: sticky;
  }
  fieldset {
    margin-bottom: 15px;
    padding: 10px;
  }
  
  legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
  }
  label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
  }
  audio{
    padding: auto;
  }
  iframe{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .block1{
    width: 400px;
    background-image: url("old.jpg");
  }
#navbar{
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 130px;
}
#navbar a {
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

title{
  font-size: medium;
}