body{
    background-color: lemonchiffon;
}
.letterDown{
    vertical-align: sub;
}
.shadow-1{
    box-shadow: 0px 10px 15px 10px #000;
    margin-bottom: 20px;
}
.shadow-2{
    box-shadow: -8px 0px 5px #7f731d, 10px 0px 10px #289b19, 0px 15px 10px #808080, 0px -15px 12px #0000ff;
    margin-left:  60px;
    background-color: #ccc;
    margin-bottom: 20px;
}
.shadow-2:hover{
    box-shadow: 0px 10px 5px rgb(238, 14, 33), 0px -10px 15px rgb(155, 87, 31), 10px 0px 0px rgb(0, 255, 34), -15px 0px 7px rgb(255, 0, 234);

}
.block2{
    background: lightgreen;
    box-sizing: content-box;
    width: fit-content;
box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
}

.card:after {
    content: "\2660,\2663,\2665,\2666";
    font-size:30px;
}
.greekLetter:after {
    content: "\03B1,\03B2,\03B3,\03B4,\03B5";
    font-size:30px;
}
.money:after {
    content: "\0024,\00A2,\00A3,\00A5";
    font-size:30px;
}
.markOfMark:after {
    content: "\00A9,\00AE,\2122";
    font-size:30px;
}
.fractions:after{
    content: "\00BC,\00BD,\00BE";
    font-size:30px;
}
.signs:after{
    content: "\00B6,\00A7,\2012,\2014";
    font-size:30px;
}
.useful:after{
    content: "\01E2,\01E4,\01E5,\01E9,\01EE";
    font-size:30px;
}
.box { 
    text-align: center;  
}

.chess-board { 
    display: inline-block;
    border-spacing: 0; 
    border-collapse: collapse; }
.chess-board th { 
    padding: .5em; 
}
.chess-board td { 
    border: 1px solid; 
    width: 5em; height: 5em; 
    text-align: center; 
    vertical-align: middle; 
}
.white{
    background-color: white;
}
.black{
    background: black;
}
.circleDiagramm{
    background: #d5dfcc;
    width: 100px; height: 100px;
    text-align: center;
    font: 40px/100px Times, serif;
    border: 24px solid #59df38;
    border-right: 24px solid #9cb98e;
    border-radius: 100px;
}
.wrapper{
 
    height: 100%;
    width:100%;
  }
.block4{
    
    display: inline-block;
    left: 50%;
    margin-right: -50%;
    padding-left:10%;
    padding-bottom:10%;
    border:1px solid;
    justify-content: center;
  }
div.block4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
