body {
    background-image: url(grey.jpg);
    
    padding: 0 30px ;
  }
nav{
    position: sticky;
    top: 0; /*вверху страницы расположено*/
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color:rgb(135, 174, 175);
    display: inline;/*в отличии от блочных элементов не размещаются каждый на новой строке, а следуют друг за другом слева направо.
                    /* Если пространство справа закончилось, на след.строку, а не линию*/
    
    border-radius: 10px;
    
}
nav img{
    padding:  20px 0px 0px 0px;
    width: 50px;
    height: 50px;
}
nav a{
    text-decoration: none;
    font-size:xx-large;
    margin: 115px;
    color: #0000d0;
    
}
nav a:link{
    color: #0000d0;
}

nav a:visited{
    color: ivory;
}
nav a:hover{
    color: red;
}
nav:hover{
    background-color: #b1a5b3;
    
}
nav:last-child {
    color: darkblue;
}
aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}
#down {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
footer {
    position: static;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(135, 174, 175);
    color: #fff;
}
#adr{
    text-align: center;
}
.alpha{
    color: rgb(73, 56, 56);
}
ol li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div ~ p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

#first:focus{
    color:lemonchiffon;
}
#first1:focus{
    color:lemonchiffon;
}

#first2:focus{
    color:lemonchiffon;
}
#id1{
    float: left;
    background: rgb(135, 174, 175); /* Цвет фона */
    border: 1px solid black; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin-right: 20px; /* Отступ справа */
    width: 40%; /* Ширина блока */
}
#idh2{
    clear: left;
}
#id2{
    float: right;
    background: rgb(135, 174, 175); /* Цвет фона */
    border: 1px solid black; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin-right: 20px; /* Отступ справа */
    width: 40%; /* Ширина блока */
}
#gvint{
    float: right;
    width: 75px;
    height: 75px;
}
#nilf{
    float: left;
    width: 50px;
    height: 50px;
}
#north{
    position: fixed;
    right: 0;
}
#monstr{
    position: absolute;
    right: 0;
    bottom: 120px;
}
#ing2{
    position: relative;
    top: 40px; left: 40px;
}